@model IEnumerable<Project.Models.AnswerModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            Subject
        </th>
        <th>
            Ans Of Q1
        </th>
        <th>
            Ans Of Q2
        </th>
        <th>
            Ans Of Q3
        </th>
        <th>
            Ans Of Q4
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerofQuestion1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerofQuestion2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerofQuestion3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerofQuestion4)
        </td>
        
    </tr>
}

</table>
<style>
    table{
        color:white;
        border:none;
    }
</style>
