@model IEnumerable<Project.Models.AnswerModel>

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerofQuestion1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerofQuestion2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerofQuestion3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerofQuestion4)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerofQuestion1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerofQuestion2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerofQuestion3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerofQuestion4)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
